<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/schedule.css' />
  </head>
  <body>
    {{{body}}}
  <script src="/javascripts/select.js"></script>
  </body>
</html>
