<div class="days">
    <div class="day">
        <div class="day_header">Monday</div>
        <div class="hours_container">
            <div class="hours">00:00</div>
            <div class="hours">01:00</div>
            <div class="hours">02:00</div>
            <div class="hours">03:00</div>
            <div class="hours">04:00</div>
            <div class="hours">05:00</div>
            <div class="hours">06:00</div>
            <div class="hours">07:00</div>
            <div class="hours">08:00</div>
            <div class="hours">09:00</div>
            <div class="hours">10:00</div>
            <div class="hours">11:00</div>
            <div class="hours">12:00</div>
            <div class="hours">13:00</div>
            <div class="hours">14:00</div>
            <div class="hours">15:00</div>
            <div class="hours">16:00</div>
            <div class="hours">17:00</div>
            <div class="hours">18:00</div>
            <div class="hours">19:00</div>
            <div class="hours">20:00</div>
            <div class="hours">21:00</div>
            <div class="hours">22:00</div>
            <div class="hours">23:00</div>
        </div>
    </div>
    <div class="day">
        <div class="day_header">Tuesday</div>
        <div class="hours_container">
            <div class="hours">00:00</div>
            <div class="hours">01:00</div>
            <div class="hours">02:00</div>
            <div class="hours">03:00</div>
            <div class="hours">04:00</div>
            <div class="hours">05:00</div>
            <div class="hours">06:00</div>
            <div class="hours">07:00</div>
            <div class="hours">08:00</div>
            <div class="hours">09:00</div>
            <div class="hours">10:00</div>
            <div class="hours">11:00</div>
            <div class="hours">12:00</div>
            <div class="hours">13:00</div>
            <div class="hours">14:00</div>
            <div class="hours">15:00</div>
            <div class="hours">16:00</div>
            <div class="hours">17:00</div>
            <div class="hours">18:00</div>
            <div class="hours">19:00</div>
            <div class="hours">20:00</div>
            <div class="hours">21:00</div>
            <div class="hours">22:00</div>
            <div class="hours">23:00</div>
        </div>
    </div>
    <div class="day">
        <div class="day_header">Wednesday</div>
        <div class="hours_container">
            <div class="hours">00:00</div>
            <div class="hours">01:00</div>
            <div class="hours">02:00</div>
            <div class="hours">03:00</div>
            <div class="hours">04:00</div>
            <div class="hours">05:00</div>
            <div class="hours">06:00</div>
            <div class="hours">07:00</div>
            <div class="hours">08:00</div>
            <div class="hours">09:00</div>
            <div class="hours">10:00</div>
            <div class="hours">11:00</div>
            <div class="hours">12:00</div>
            <div class="hours">13:00</div>
            <div class="hours">14:00</div>
            <div class="hours">15:00</div>
            <div class="hours">16:00</div>
            <div class="hours">17:00</div>
            <div class="hours">18:00</div>
            <div class="hours">19:00</div>
            <div class="hours">20:00</div>
            <div class="hours">21:00</div>
            <div class="hours">22:00</div>
            <div class="hours">23:00</div>
        </div>
    </div>
    <div class="day">
        <div class="day_header">Thursday</div>
        <div class="hours_container">
            <div class="hours">00:00</div>
            <div class="hours">01:00</div>
            <div class="hours">02:00</div>
            <div class="hours">03:00</div>
            <div class="hours">04:00</div>
            <div class="hours">05:00</div>
            <div class="hours">06:00</div>
            <div class="hours">07:00</div>
            <div class="hours">08:00</div>
            <div class="hours">09:00</div>
            <div class="hours">10:00</div>
            <div class="hours">11:00</div>
            <div class="hours">12:00</div>
            <div class="hours">13:00</div>
            <div class="hours">14:00</div>
            <div class="hours">15:00</div>
            <div class="hours">16:00</div>
            <div class="hours">17:00</div>
            <div class="hours">18:00</div>
            <div class="hours">19:00</div>
            <div class="hours">20:00</div>
            <div class="hours">21:00</div>
            <div class="hours">22:00</div>
            <div class="hours">23:00</div>
        </div>
    </div>
    <div class="day">
        <div class="day_header">Friday</div>
        <div class="hours_container">
            <div class="hours">00:00</div>
            <div class="hours">01:00</div>
            <div class="hours">02:00</div>
            <div class="hours">03:00</div>
            <div class="hours">04:00</div>
            <div class="hours">05:00</div>
            <div class="hours">06:00</div>
            <div class="hours">07:00</div>
            <div class="hours">08:00</div>
            <div class="hours">09:00</div>
            <div class="hours">10:00</div>
            <div class="hours">11:00</div>
            <div class="hours">12:00</div>
            <div class="hours">13:00</div>
            <div class="hours">14:00</div>
            <div class="hours">15:00</div>
            <div class="hours">16:00</div>
            <div class="hours">17:00</div>
            <div class="hours">18:00</div>
            <div class="hours">19:00</div>
            <div class="hours">20:00</div>
            <div class="hours">21:00</div>
            <div class="hours">22:00</div>
            <div class="hours">23:00</div>
        </div>
    </div>
    <div class="day">
        <div class="day_header">Saturday</div>
        <div class="hours_container">
            <div class="hours">00:00</div>
            <div class="hours">01:00</div>
            <div class="hours">02:00</div>
            <div class="hours">03:00</div>
            <div class="hours">04:00</div>
            <div class="hours">05:00</div>
            <div class="hours">06:00</div>
            <div class="hours">07:00</div>
            <div class="hours">08:00</div>
            <div class="hours">09:00</div>
            <div class="hours">10:00</div>
            <div class="hours">11:00</div>
            <div class="hours">12:00</div>
            <div class="hours">13:00</div>
            <div class="hours">14:00</div>
            <div class="hours">15:00</div>
            <div class="hours">16:00</div>
            <div class="hours">17:00</div>
            <div class="hours">18:00</div>
            <div class="hours">19:00</div>
            <div class="hours">20:00</div>
            <div class="hours">21:00</div>
            <div class="hours">22:00</div>
            <div class="hours">23:00</div>
        </div>
    </div>
    <div class="day">
        <div class="day_header">Sunday</div>
        <div class="hours_container">
            <div class="hours">00:00</div>
            <div class="hours">01:00</div>
            <div class="hours">02:00</div>
            <div class="hours">03:00</div>
            <div class="hours">04:00</div>
            <div class="hours">05:00</div>
            <div class="hours">06:00</div>
            <div class="hours">07:00</div>
            <div class="hours">08:00</div>
            <div class="hours">09:00</div>
            <div class="hours">10:00</div>
            <div class="hours">11:00</div>
            <div class="hours">12:00</div>
            <div class="hours">13:00</div>
            <div class="hours">14:00</div>
            <div class="hours">15:00</div>
            <div class="hours">16:00</div>
            <div class="hours">17:00</div>
            <div class="hours">18:00</div>
            <div class="hours">19:00</div>
            <div class="hours">20:00</div>
            <div class="hours">21:00</div>
            <div class="hours">22:00</div>
            <div class="hours">23:00</div>
        </div>
    </div>
</div>
<div class="selection-rect"></div>